.container {
  min-width: 200px;
  height: 100vh;
  top: 0;
  background: var(--menu-background);
  padding: 10px 10px;
}

.header {
  color: var(--menu-text-color);
  background: #2C2C2C;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background: #444444;
}

.folder {
  color: var(--menu-text-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0px;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderText {
  outline: none;
  
}
.folder:hover, .folder.active{
  background: #2C2C2C;
  color: #fff;
}
