.editor, .editor textarea{
    
  border-radius: 0 0 10px 10px;
  margin-top: 2px;
}


.editor, .editorHeader, .editor textarea{
  background-color: #1E1F20;
  font-family: 'Roboto'!important;
}

.codeBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #131314;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
  background-color: #1E1F20;
}

.copyIcon{
  cursor: pointer;
}

.language {
  font-size: 0.8rem;
  font-weight: 400;
}

.blockWrapper {
 position: relative;
  padding-bottom: 10px;
}

.addButton {
  position: absolute;
  bottom: 15px;
  left: -20;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  color: #F3F4F6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockWrapper:hover .addButton {
  opacity: 1;
  transform: translateX(-50%) scale(1.2);

}