.editor, .editor textarea{
    
  border-radius: 0 0 10px 10px;
  margin-top: 2px;
}


.editor, .editorHeader, .editor textarea{
  background-color: #1E1F20;
  font-family: 'Roboto'!important;
}

.codeBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #131314;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
  background-color: #1E1F20;
}

.copyIcon{
  cursor: pointer;
}

.language {
  font-size: 0.8rem;
  font-weight: 400;
}

.blockWrapper {
 position: relative;
  padding-bottom: 10px;
}

.addButton {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  
  border-radius: 5px;
  border: 1px solid #ddd;
  z-index: 10;
}

.blockWrapper:hover .addButton {
  opacity: 1;
  transform: translateX(-50%) scale(1.2);
  color: #1E1F20;
}
/* 
.addButton:hover {
  color: #0070f3;
  background-color: #f0f0f0;
} */