.container {
  background: red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.content {
  width: 100%;
  background: #212121;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.editor {
  background: #212121;
  color: rgba(255, 255, 255, 0.9);
  /* font-family: monospace; */
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 10px 0;
  min-height: 60px;
  font-weight: 600;

  outline: none !important;
  border: none !important;
  box-shadow: none !important;

  white-space: pre-wrap;
}

.editor textarea,
.editor textarea:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  color: transparent !important;
  caret-color: #fff;
}

/* Remove outlines de qualquer elemento interno */
.editor *,
.editor *:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.editor .token.operator {
  background: transparent !important;
}

.code {
  font-family: monospace;
  font-size: 16px;
  background: #181818;
}
