.container {
  background: red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.content {
  width: 100%;
  background: #212121;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.codeEditor {
  background: #212121;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 10px 0;
  min-height: 60px;

  outline: none !important;
  border: none !important;
  box-shadow: none !important;

  white-space: pre-wrap;
}

.codeEditor textarea,
.codeEditor textarea:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  color: transparent !important;
  caret-color: #fff;
}

/* Remove outlines de qualquer elemento interno */
.codeEditor *,
.codeEditor *:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.codeEditor .token.operator {
  background: transparent !important;
}
