
.container {
  min-height: 100vh;
  padding: 2rem;
  color: #f3f4f6;
  background-color: var(--bg-main);
}

.grid {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
}

.card {
  border-radius: 1rem;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.card:active {
  transform: scale(0.98);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #131314;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
}

.cardBody {
  background-color: #131314;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-top: 2px;
}

.cardContent {
    line-height: 1.25rem;
  color: #e3e3e3;
}

.cardTitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.cardCategory {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6b7280;
  font-weight: 700;
}
