.menu {
  background: #181818;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

.search {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px;
  background: #2e2f2f;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.option,
.search {
  padding: 15px 10px;
  border-radius: 5px;
}

.option:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background: #2e2f2f;
}

.option.selected {
  background: #2e2f2f;
  color: rgba(255, 255, 255, 1);
}
