@import "tailwindcss";

:root {
  --background: #0D1117;
  --foreground: #171717;
  --menu-background: #202020;
  --menu-text-color: #ababab;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  /* font-family: "Fira Code", monospace; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
