.noteInput {
  line-height: 1.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: inherit;
  width: 100%;
  resize: none;
  overflow: hidden;
  outline: none;
  line-height: 1.6rem;
  font-size: 16px;
  color: #e3e3e3;
  font-weight: 400;

}

