.noteInput, .noteEditor {
  line-height: 1.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: inherit;
  width: 100%;
  outline: none;
  line-height: 1.6rem;
  font-size: 16px;
  color: #e3e3e3;
  font-weight: 400;

}

.noteEditor, .noteHeader, .noteEditor textarea{
  background-color: #1E1F20;
  padding: 15px !important;
}
.noteHeader {
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
}

.noteEditor .noteEditor textarea{
  border-radius: 0 0 10px 10px;
  margin-top: 2px;
}

.noteContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}