.note {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  align-items: start;
}
.noteItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.noteItem input,
.noteItem .textarea,
.noteItem select {
  padding: 10px 20px;
}

.noteItem input{
  background: #202020;
  color: #f0f0f0;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
}


.noteButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.noteButton:hover {
  background-color: #45a049;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteButtonSelect {
  background-color: #333333;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.noteActions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.noteFilter {
  margin: 20px;
  background: #333333;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.noteButtonDelete {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.noteContent {
  display: flex;
  flex-direction: column; 
}

.textarea {
  min-height: 100px;
  font-family: "Fira Code", monospace;
  background-color: #3d3d3d;
  color: #f0f0f0;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  resize: none;
  overflow: auto;
}