.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  padding: 1.5rem;
  background-color: #131314;
  border-bottom: 1px solid #333;
}

.headerInfo {
  display: flex;
  align-items: top;
  gap: 0.75rem;
  width: 100%;
}

.iconContainer {
  padding: 0.5rem;
  background-color: rgba(59, 130, 246, 0.1);
  border-radius: 0.5rem;
  color: #60a5fa;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  line-height: 1.25;
  margin: 0;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-radius: 9999px;
  transition: all 0.2s;
  color: #9ca3af;
  cursor: pointer;
  display: flex;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.copyButton:active {
  transform: scale(0.95);
}

.copyButtonDefault {
  background-color: #2563eb;
  color: white;
}

.copyButtonDefault:hover {
  background-color: #3b82f6;
}

.copyButtonSuccess {
  background-color: #16a34a;
  color: white;
}

.tagsContainer {
  display: flex;
  align-items: center;
}
