.editor, .editor textarea{
    
  border-radius: 0 0 10px 10px;
  margin-top: 2px;
}


.editor, .editorHeader, .editor textarea{
  background-color: #1E1F20;
  padding: 15px !important;
}

.editor textarea {
  color: red !important;
}