@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1E1F20;
    --bg-surface: #131314;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

button, input, textarea {
  font-family: inherit; /* Garante que usem a mesma fonte do body */
}

a {
  text-decoration: none;
  color: inherit;
}